node_modules
typechain
typechain-types
dist
deployments
yarn.lock
package-lock.json

#Hardhat files
cache
artifacts
.env
coverage.json
coverage

#vscode
.vscode
.VSCodeCounter

#deploy
deployMain.ts
deploySecondary.ts
disableUpgradeability.ts
verifyMain.ts
verifySecondary.ts

#xdeploy
xdeploy
diamond-upgrade-args.ts
divaToken-args.ts
ownershipMain-args.ts
ownershipSecondary-args.ts
xdeploy-config.ts
diamond-args.ts
developmentFund-args.ts

#offers
offers
